<!doctype html>
<html lang="en">
<head>
  <title>SkillZone - Add Course</title> 

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.stayInWebApp.js"></script>
  <script type="text/javascript" src="js/util.js"></script>
  
</head>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <button class="navbar-btn">
            <a href="/" class="btn" onclick="history.back();return false;"><i class="fa fa-chevron-left fa-fw"></i></a>
          </button>
          <a class="navbar-brand" >Add Course</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logged_in"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
            <li><a href="/courses"><i class="fa fa-book fa-fw"></i>&nbsp; Courses</a></li>
            <li><a href="/settings"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a></li>
            <li><a href="/log_out"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
<body>

<div class="container">

<form id="add_a_course" role="form" method="get" action="/confirmation">
	  {{#each courses}}
        <input type="hidden" class="form-control" id="exampleInputEmail1" placeholder="" name="pUser" value="{{author}}">
        <input type="hidden" class="form-control" id="firstName" placeholder="" name="firstName" value="{{first}}">
        <input type="hidden" class="form-control" id="lastName" placeholder="" name="lastName" value="{{last}}">
	  {{/each}}
      <div class="form-group">
        <label for="exampleInputEmail1" >Course Name*</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="courseName" required>
      </div>

      <div class="form-group">
        <label for="exampleInputLinkForMaterials">Course Category*</label>
        <select name="category" form="add_a_course">
          <option value="Other">Select a Category</option>
          <option value="Arts">Arts</option>
          <option value="Academics">Academics</option>
          <option value="Fitness">Fitness</option>
          <option value="Other">Other</option>
        </select> 
      </div>

      <div class="form-group">
        <label for="exampleInputDescription1">Course Description*</label>
        <textarea type="text" class="form-control" rows="5" id="exampleInputDescriptions" placeholder="Briefly describe your course." name="courseDescription" required></textarea>
      </div>

      <div class="form-group">
        <label for="exampleInputDescription2">Course Summary*</label>
        <textarea type="email" class="form-control" rows="5" id="exampleInputDescription2" placeholder="Explain more in depth about your course." name="courseSummary" required></textarea>
      </div>

      <div class="form-group">
        <label for="exampleInputLessonPicture1">Choose a picture or paste your image link in the box*</label>
        <p>Try this: https://www.google.com/images/srpr/logo11w.png</p>
        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <img src="img/default-thumbnail.png" height="82" width="151" id="defaultPicture" onclick="setImage()"></img>
          </div>
          <div class="col-xs-6 col-sm-6">
      		  <img src="img/sports-icon.png" height="82" width="151" id="sportPicture" onclick="setImage1()"></img>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <img src="img/academics.png" height="82" width="151" id="academicsPicture" onclick="setImage2()"></img>
          </div>
          <div class="col-xs-6 col-sm-6">
            <img src="img/arts.png" height="82" width="151" id="artsPicture" onclick="setImage3()"></img>
          </div>
        </div>
    <br>

        <input type="text" class="form-control" id="textLink" placeholder="Enter image link here." name="coursePicture" required>
      </div>

	  <div class="form-group">
        <label for="exampleInputLinkForMaterials">Course Material Links(optional)</label>
        <input type="text" class="form-control" id="exampleInputLinkForMaterials" placeholder="If you wish to provide online resources, please enter your links here." name="lectureLink">
      </div>
	  
      <div class="form-group">
        <label for="exampleInputLinkForMaterials">Hours/Meeting*</label>
        <input type="text" class="form-control" id="exampleInputLinkForMaterials" placeholder="For example, if you plan to offer 2 hours per session, just enter 2." name="lectureLength" required>
      </div>

	  <div class="form-group">
        <label for="exampleInputLinkForMaterials">Total Number of Meetings*</label>
        <input type="text" class="form-control" id="exampleInputLinkForMaterials" placeholder="Put in the number of sessions your course will have." name="lectureWeek" required>
      </div>	  
	  
	  <div class="form-group">
        <label for="exampleInputLinkForMaterials">Hours/Week</label>
        <input type="text" class="form-control" id="exampleInputLinkForMaterials" placeholder="The total time commitment you would like your student to have per week." name="numLectures" required>
      </div>
	  
    <div class="checkbox" class="span7 text-center">
        <label>
          <input type="checkbox" required> I agree to the <a href="term_of_use" target="_blank">terms of use</a>.
        </label>
     </div> 
	 <button  class="btn btn-primary btn-block" role="button"> Review and Confirm</button>
	 <h5>We will confirm with you before submitting.</h5>
    </form>
	   
</div>
	
<script>
function setImage()
{
	document.getElementById("textLink").value = document.getElementById("defaultPicture").src;
}

function setImage1()
{
	document.getElementById("textLink").value = document.getElementById("sportPicture").src;
}

function setImage2()
{
  document.getElementById("textLink").value = document.getElementById("academicsPicture").src;
}

function setImage3()
{
  document.getElementById("textLink").value = document.getElementById("artsPicture").src;
}
</script>

</body>
</html>
