<!doctype html>
<html lang="en">
<head>
  <title>SkillZone - Add Course</title> 

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.stayInWebApp.js"></script>
  <script type="text/javascript" src="js/util.js"></script>
  
</head>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <button class="navbar-btn">
            <a href="/" class="btn" onclick="history.back();return false;"><i class="fa fa-arrow-left fa-fw"></i></a>
          </button>
          <a class="navbar-brand" >Add Course</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logged_in"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
            <li><a href="/courses"><i class="fa fa-book fa-fw"></i>&nbsp; Courses</a></li>
            <li><a href="/settings"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a></li>
            <li><a href="/log_out"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
<body>

<div class="container">

<form id="add_a_course" role="form" method="get" action="/confirmation">
	  {{#each courses}}
        <input type="hidden" class="form-control" id="exampleInputEmail1" placeholder="" name="pUser" value="{{author}}">
        <input type="hidden" class="form-control" id="firstName" placeholder="" name="firstName" value="{{first}}">
        <input type="hidden" class="form-control" id="lastName" placeholder="" name="lastName" value="{{last}}">
	  {{/each}}
      <div class="form-group">
        <center><label for="exampleInputEmail1" >Course Title*</center></label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="courseName" required>
      </div>

      <div class="form-group">
        <center><label for="exampleInputDescription1">Course Description*</center></label>
        <textarea type="text" class="form-control" rows="5" id="exampleInputDescriptions" placeholder="Briefly describe your course." name="courseDescription"></textarea>
      </div>

      <div class="form-group">
        <center><label for="exampleInputDescription2">Course Summary*</center></label>
        <textarea type="email" class="form-control" rows="5" id="exampleInputDescription2" placeholder="Explain more in depth about your course" name="courseSummary"></textarea>
      </div>

      <div class="form-group">
        <center><label for="exampleInputLessonPicture1">Choose your picture or copy and paste the link of image*</center></label><br>
		<center><img src="img/default-thumbnail.png" height="82" width="151" id="defaultPicture" onclick="setImage()"></img>
		<img src="img/sports-icon.png" height="82" width="151" id="sportPicture" onclick="setImage1()"></img><br>
		<small>Try this! https://www.google.com/images/srpr/logo11w.png</small></center>
        <input type="text" class="form-control" id="textLink" placeholder="Enter Link to Image Here" name="coursePicture">
      </div>

      <div class="form-group">
        <center><label for="exampleInputLinkForMaterials">Average  Hours Per Lesson*</center></label>
		<small>For example, if your sessions last roughly 2 Hours, type in 2 in the box below.</small>
        <input type="text" class="form-control" id="exampleInputLinkForMaterials" placeholder="Put how many hours each session typically lasts" name="lectureLength">
      </div>

	  <div class="form-group">
        <center><label for="exampleInputLinkForMaterials">Total Expected Time Commitment (in Hours)</center></label>
		<small>For example, if you expect that your students meet with you for a total of 20 hours, put in 20 in the box below.</small>
        <input type="text" class="form-control" id="exampleInputLinkForMaterials" placeholder="Put how many hours each student would need to put in to finish this course" name="numLectures">
      </div>

    <div class="checkbox" class="span7 text-center">
        <label>
          <input type="checkbox"> I agree to the <a href="term_of_use" target="_blank">terms of use</a>.
        </label>
     </div> 
	 <button  class="btn btn-primary btn-block" role="button"> Review and Confirm</button>
	 <h5>We will confirm with you before submitting.</h5>
    </form>
          
</div>
	
<script>
function setImage()
{
	document.getElementById("textLink").value = document.getElementById("defaultPicture").src;
}

function setImage1()
{
	document.getElementById("textLink").value = document.getElementById("sportPicture").src;
}
</script>

</body>
</html>
