<!doctype html>

<html lang="en">
<head>
  <title>SkillZone - FAQ</title> 

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="jquery.stayInWebApp.js"></script>
  <script type="text/javascript" src="js/util.js"></script>
   
</head>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
<!--
          <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          </button>
        -->


          <a class="navbar-brand">FAQ</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logged_in"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
            <li><a href="/courses"><i class="fa fa-book fa-fw"></i>&nbsp; Courses</a></li>
            <li><a href="/settings"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a></li>
            <li><a href="/log_out"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
<body>

  <div class="FAQ">
    <div class="container">
    <h5>Q: What is Skillzone?</h5>
    <p>SkillZone is an completely free online skill sharing service that you can learn by taking courses customized by other talented people; or if you are the one who is got talents, SkillZone is a place for you to share that as well! You can create an actitivity or course of your own to make friends and get paid. Simply <a href="sign_up">create an account </a>and let's start learning and teaching!</p>
    <h5>Q: I signed up using teacher mode but I want to take some courses now. How do I do this?</h5> 
    <p>A: Change your home page to "Student View" using the "change view" in the "Settings" of navigation bar.</p> 
    <h5>Q: How do I enroll a course?</h5> 
    <p>A: Click on "Enroll" after you get into the course description page.</p>
    <h5>Q: If I don't like the course, how do I drop a course and get refund? </h5>
    <p>A: You can ask for refund through "manage my courses" in the enrolled course page. Fill out a form and we will verify your request before authorize your refund.</p>
    <h5>Q: How do I teach a course? Do I have to be a teacher to do so?</h5> 
    <p>A: Use the ‘Upload a Course’ option from the Teacher View. It will have a step by step guide. There are no prerequisites for uploading a course; anyone can become a teacher and people will rate you based on your performance.</p> 
    </div>
  </div>
</body>
</html>
