<!doctype html>

<html lang="en">
<head>
	<title>Welcome to SkillZone!</title>	

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap-theme.min.css">

	<link href="css/stylesheet.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
	
</head>

<body>
<div class="container">
	<header class="header">
			<h1>WELCOME TO SKILLZONE!</h1>

<br>

  </header>

    <div class="col-md-6">
        <a href="sign_up"><button class="btn btn-info btn-lg btn-block" role="button" >Get Started!</button></a>
    </div><br>

    <div class="col-md-6">
        <a href="sign_in"><button class="btn btn-default btn-lg btn-block" role="button" >Login here</button></a>
    </div>

  	<div class="col-md-12 col-xs-12">
  		<h4>Top Courses</h4>
  	</div>	

    <div class="course">
      <div class="row">
		{{#each courses}}
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="thumbnail">
            <a href="class_page?currentCourse={{courseName}}"><img src="{{courseImageURL}}" alt="Sample Class">
            <div class="caption">
              <h5>{{courseName}}</h5>
              <p>{{description}}</p>
            </div>
          </div>
        </div>
		{{/each}}
 
     </div>
   </div>

  </div>

</body>
</html>
