<!doctype html>

<html lang="en">
<head>
	<title>Welcome to SkillZone!</title>	
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="SkillZone">
  
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="apple-touch-icon" href="apple-touch-icon-iphone.png">
  <link rel="apple-touch-startup-image" href="/startup-image.png">
  <!--The size of the startup image for iPhone 5S/5C is 640 x 1136 (pixels).-->

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link href="css/signup-stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.stayInWebApp.js"></script>
  <script type="text/javascript" src="js/util.js"></script>
	
</head>

<body>
<div class="container">
	<header class="header">
			<h1>WELCOME TO SKILLZONE!</h1>

<br>

  </header>

    <div class="col-md-6">
        <a href="sign_up" class="btn btn-primary btn-lg btn-block" type="button" >Join us now!</a>
    </div><br>

    <div class="col-md-6">
        <a href="sign_in" class="btn btn-default btn-lg btn-block" type="button" >Login here</a>

    </div>

  	<div class="col-md-12 col-xs-12">
  		<h4>Top Courses</h4>
  	</div>	

    <div class="course">
      <div class="row">
		{{#each courses}}
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="thumbnail">
            <a href="class_page?currentCourse={{courseName}}"><img src="{{courseImageURL}}" alt="Sample Class">
            <div class="caption">
              <h5>{{courseName}}</h5>
             <!-- <p>{{description}}</p>-->
            </div>
          </div>
        </div>
		{{/each}}
 
     </div>
   </div>

  </div>

</body>
</html>
