<!doctype html>
<!-- We may get rid of this page later on and replace it with a pop up window with info. (Using Javascript)-->
<html lang="en">
<head>
  <title>SkillZone - Log out</title> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/signup-stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="jquery.stayInWebApp.js"></script>
  <script type="text/javascript" src="js/util.js"></script>
  
</head>
<body onload="logout()">

  <div class="container">
    <br><br><br><br><br><br>
  	<h4>You Have been logged out!</h4>
    <a href="/"><button  class="btn btn-default" role="button"> Return to Front page.</button></a>
  </div>

  <script>
function logout()
{
	document.cookie = "username=;expires Thu, 01 Jan 1970 00:00:00 UTC; path=/";
}
</script>
</body>
</html>
