<!doctype html>
<html lang="en">
<head>
  <title>SkillZone - Logged In</title> 
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.stayInWebApp.js"></script>
  <script type="text/javascript" src="js/util.js"></script>
  
</head>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <button class="navbar-btn">
            <a href="/" class="btn" onclick="history.back();return false;"><i class="fa fa-arrow-left fa-fw"></i></a>
          </button>

          <a class="navbar-brand" >Preference</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logged_in"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
            <li><a href="/courses"><i class="fa fa-book fa-fw"></i>&nbsp; Courses</a></li>
            <li><a href="/settings"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a></li>
            <li><a href="/log_out"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
<body onload="loadUser()">
<div class="container">
	
  <div class="mode">
      <div class="row">
		{{#each userData}}
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="thumbnail">
            <a href="student_mode/?pUser={{email}}" id="student_mode"><img src="https://dujk9xa5fr1wz.cloudfront.net/course/240x135/363488_d703_8.jpg" alt="student_mode">
            <div class="caption">
              <h5>Student Mode</h5>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="thumbnail">
            <a href="teacher_mode/?pUser={{email}}" id="teacher_mode"><img src="https://dujk9xa5fr1wz.cloudfront.net/course/240x135/21323_192f_7.jpg" alt="teacher_mode">
            <div class="caption">
              <h5>Teacher Mode</h5>
            </div>
          </div>
        </div>
		{{/each}}
     </div>
   </div>
	
</div>
		
<script>

function loadUser()
{
	document.getElementById("teacher_mode").href="teacher_mode/?pUser="+encodeURIComponent(getCookie("username"));	
	document.getElementById("student_mode").href="student_mode/?pUser="+encodeURIComponent(getCookie("username"));
}
function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}

</script>

</body>
</html>
