<!doctype html>
<html lang="en">
<head>
  <title>SkillZone - Welcome back!</title> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   
</head>

<body onload=createCookie()>
	<div class="container">
    <br><br>
{{#each userData}}	
		<form role="form" method="get" action="/login_verification">
		  <div class="form-group" >
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="pUser" value="{{email}}"required>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password(NOT BEING USED)</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type your password">
		  </div>

		<div class="checkbox" class="span7 text-center">
		    <label>
		      <input type="checkbox"> Remember my password.
		    </label>
		 </div>

		<button  class="btn btn-default" role="button")>Log in</button>
		</form>

	</div>
<div class="container" id="{{userFound}}" name="invis"></div>

{{/each}}
	
<script>
function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}

function createCookie()
{
	if(document.getElementsByName("invis")[0].id=="0")
	{
		alert(decodeURIComponent(getDataUrl(String(window.location)).pUser) +" was not found! Please retype your email.");
		window.location="sign_in";
		
	}
	else
	{
		var user = decodeURIComponent(getDataUrl(String(window.location)).pUser);
		document.cookie="username="+user+";path=/";
		window.location="logged_in?pUser="+encodeURIComponent(user);
	}
}

function getDataUrl(url) {
  var url_data = url.match(/\?([^#]*)/i)[1];

  var ar_url_data = url_data.split('&');

  // traverse the array, and adds into an object elements name:value
  var data_url = {};
  for(var i=0; i<ar_url_data.length; i++) {
    var ar_val = ar_url_data[i].split('=');
    data_url[ar_val[0]] = ar_val[1];
}
return data_url;
}
</script>
</body>
</html>

