<!doctype html>
<html lang="en">
<head>
  <title>SkillZone - My Profile</title> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <style>
   .thumbnails {
     text-align:center;
     border: 0 none;
     box-shadow: none;
  }

   .thumbnails > li {
     display: inline-block;
     float: none; /* this is the part that makes it work */
  }
  </style>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >My Profile</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logged_in"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
            <li><a href="/courses"><i class="fa fa-book fa-fw"></i>&nbsp; Courses</a></li>
            <li><a href="/settings"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a></li>
            <li><a href="/log_out"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
<body>

<div class="container">

    <h3>My Profile</h3>

          <div class="thumbnail">
            <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/10368332_612250152206024_4338549022138809960_o.jpg" height="150px" width="150px" alt="profile-pic">
          </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
          <input type="file" capture="camera" accept="image/*" id="cameraInput"/>
        </div>



    <div class="list-group">
      <a class="list-group-item">First Lastname</a>
      <a class="list-group-item">E-mail: email@somewhere.com</a>
      <a class="list-group-item">Skill: basketball, swimming.</a>
      <a class="list-group-item">Interests: cooking, IT Development.</a>
    </div>


        <a href="#"><button  class="btn btn-info btn-md btn-block" role="button">Update Profile</button></a>
        <a href="log_out"><button  class="btn btn-default btn-md btn-block" role="button">Logout</button></a>

</div>
		


</body>
</html>
