<!doctype html>
<html lang="en">
<head>
  <title>SkillZone - Getting Started.</title> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <link href="css/stylesheet.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
</head>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SkillZone</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
 
            <li><a href="courses">Courses</a></li>

            <li><a href="settings">Settings</a></li>
            <li><a href="sign_in">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
<body>
	<div class="container">
		
	    <h2> Welcome to SkillZone!</h2>
	    <p>SkillZone is an completely free online skill sharing service that you can learn by taking courses customized by other talented people; or if you are the one who is got talents, SkillZone is a place for you to share that as well! You can create an actitivity or course of your own to make friends and get paid.</p>
	    <p>Sounds good? Simple fill in the form below and let's start learning and teaching!</p>
			
		<form>

		  <div class="form-group">
		    <label for="exampleInputEmail1">First name</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="First name">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Last name</label>
		    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Last name">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Set your Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type your password">
		  </div>

		  <div class="form-group">
		    <label for="exampleInputPassword2">Confirm your Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Type your password">
		  </div>

		  <div>
			  <label for="exampleInputPreference1">Customize your home page</label>
		  </div>

			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
			    For student
			  </label>
			</div>

			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
			    For teacher
			  </label>
			</div>
			<h5>(This may be changed later in the <a href="settings">Setting</a>)</h5>

		<div class="checkbox" class="span7 text-center">
		    <label>
		      <input type="checkbox"> I agree to the <a href="term_of_use">term of use</a>.
		    </label>
		 </div> 
		</form>
		 <a href="logged_in"><button  class="btn btn-default" role="button">Sign up</button></a>

	</div>
		
</body>
</html>
