<!doctype html>
<html lang="en">
<head>
  <title>SkillZone - Welcome back!</title> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
</head>

<body>
	<div class="container">
    <br><br>
		<form role="form" method="get" action="/login_verification">
		  <div class="input-group margin-bottom-sm" >
		  	<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="pUser" required>
		  </div><br>
		  <div class="input-group">
			<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password(NOT BEING USED)">
		  </div>

		<div class="checkbox" class="span7 text-center">
		    <label>
		      <input type="checkbox"> Remember my password.
		    </label>
		 </div>

		<button  class="btn btn-default" role="button")>Log in</button>
		</form>

	</div>

</body>
</html>

