<!doctype html>
<html lang="en">
<head>
  <title>SkillZone - Getting Started.</title> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/signup-stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
btn-info<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   
</head>

<body>
	<div class="container">
		<br><br>
	    <h2> Sign up with your email address.</h2>
		<br>
			
		<form method="get" action="/registration">

		  <div class="input-group">
		  	<span class="input-group-addon"><i class="fa fa-user-plus fa-fw"></i></span>
		    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="First name" name="first" required>
		  </div><br>
		  <div class="input-group margin-bottom-sm">
		    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
		    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Last name" name="last" required>
		  </div><br>
		  <div class="input-group margin-bottom-sm">
		    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email" required>
		  </div><br>
		  <div class="input-group margin-bottom-sm">
		    <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password(Not BEING USED)">
		  </div><br>

		  <div>
			  <label for="exampleInputPreference1">Customize your home page(Doesn't work yet)</label>
		  </div>

			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
			    For student
			  </label>
			</div>

			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
			    For teacher
			  </label>
			</div>
			<h5>(This may be changed later in the <a href="settings">Setting</a>)</h5>

		<div class="checkbox" class="span7 text-center">
		    <label>
		      <input type="checkbox" required> I agree to the <a href="term_of_use">term of use</a>.
		    </label>
		 </div>
		<button  class="btn btn-default btn-block" role="button" onclick="createCookie()">Sign up</button>		 
		</form>
	

	</div>
		
</body>
</html>
