<!doctype html>
<html lang="en">
<head>
  <title>SkillZone - Teacher Home</title> 

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.stayInWebApp.js"></script>
  <script type="text/javascript" src="js/util.js"></script>
  
</head>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logged_in"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
            <li><a href="/courses"><i class="fa fa-book fa-fw"></i>&nbsp; Courses</a></li>
            <li><a href="/settings"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a></li>
            <li><a href="/log_out"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
<body>


<div class="container">

	<br><br><br>
    <div class="col-md-12 col-xs-12">
        <button class="btn btn-primary btn-lg btn-block" role="button" onclick="addACourse()">Create a course now!</button>
    </div><br>

    <h4 href="teaching_courses">My Active Courses</h4><hr>

    <div class="course">
          <div class="row">

        {{#each courses}}
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="thumbnail">
            <a href="/class_page?currentCourse={{courseName}}"><img src="{{courseImageURL}}" alt="Active Class"></a>
            <div class="caption">
              <h5>{{courseName}}</h5>
              <p>{{description}}</p>
            </div>
          </div>
        </div>
		{{/each}}
     
         </div>
       </div>



  
</div>

<script>
function addACourse()
{
	var user = getCookie("username");
	window.location="/add_a_course?pUser="+encodeURIComponent(user);
}
function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}
</script>


</body>
</html>
