<!doctype html>
<html lang="en">
<head>
  <title>SkillZone - Course I am teaching</title> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <link href="css/stylesheet.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
</head>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">My Teaching</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
 
            <li><a href="courses">Courses</a></li>

            <li><a href="settings">Settings</a></li>
            <li><a href="sign_in">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
<body>
	<div class="container">

    <div class="course">
          <div class="row">

            {{#each courses}}
                <div class="col-xs-6 col-sm-4 col-md-3">
                  <div class="thumbnail">
                    <a href="class_page?currentCourse={{courseName}}"><img src="{{courseImageURL}}" alt="Active Class"></a>
                    <div class="caption">
                      <h5>{{courseName}}</h5>
                      <p>{{description}}</p>
                    </div>
                  </div>
                </div>
            {{/each}}
     
         </div>
       </div>
  </div>


</body>
</html>
