body {

  /*background-color: #336699;*/
}

h1 {

font-family: 'Open Sans', sans-serif;
font-weight: 400;
color: #000;
}

h2 {

font-family: 'Open Sans', sans-serif;
font-weight: 300;
color: #000;
}


.course h5 {
    text-align: center;

}

.course p {
    text-align: center;

}

h4 {
    text-align: center;
}


.header {
    text-align: center
}


body { 
    padding-bottom: 20px;
     }

.FAQ h5{
	font-weight: bold;
}

.mode h5 {
    text-align: center;

}

.mode p {
    text-align: center;

}

.profile {
	
}

.titleLink {
    text-decoration: none;
}

.thumbnails {
    text-align:center;
    display: inline-block;
    float: none;
    /*background: RGBA(0,0,0,0.3);    */
}

.thumbnails > li {
     /* this is the part that makes it work */
}


img .desaturate {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
} /*Maybe it is because of the pictures are not local?? This is not working.*/

.btn-default:active,
.btn-default:focus,
.btn-default.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}


