
h4 {

font-family: 'Bitter', serif;
}

h5 {

font-family: 'Bitter', serif;
}

.course h5 {
    text-align: center;

}

.course p {
    text-align: center;

}

h4 {
    text-align: center;
}


.header {
    text-align: center
}


body { 
    padding-top: 60px;
    padding-bottom: 20px;
     }

.FAQ h5{
	font-weight: bold;
}

.mode h5 {
    text-align: center;

}

.mode p {
    text-align: center;

}

.profile {
	
}

.titleLink {
    text-decoration: none;
}

.thumbnails {
    text-align:center;
    display: inline-block;
    float: none;
}

.thumbnails > li {
     /* this is the part that makes it work */
}


img .desaturate {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
} /*Maybe it is because of the pictures are not local?? This is not working.*/




@media (max-width: 768px) {

.navbar-brand {
    position: absolute;
    width: 60%;
    left: 0;
    text-align: center;
    margin-left: 20%;
}


}