.course {
    
}

.course h5 {
    text-align: center;

}

.course p {
    text-align: center;

}

h4 {
    text-align: center;
}


.header {
    text-align: center
}


body {
	padding-top: 60px;
    padding-bottom: 10px;
}

.FAQ h5{
	font-weight: bold;
}

.mode h5 {
    text-align: center;

}

.mode p {
    text-align: center;

}

.profile {
	
}

.titleLink {
    text-decoration: none;
}

img .desaturate {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
} /*Maybe it is because of the pictures are not local?? This is not working.*/


@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}